div#disablement.alert {
    background-color: #0D0D0D;
    width: 37.037037037vh;
    height: 37.037037037vh;
    border-radius: calc(37.037037037vh / 8);
    outline: solid 0.231481481481vh #000000;
    justify-self: center;
    align-self: center;
    position: relative;
    top: 31.48148148148148vh;
    z-index: 99;
}

div#disablement.alert div#header {
    color: #F2F2F2;
    font-size: 3.33333333333vh;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    text-align: center;
    width: 100%;
    height: 18.75%;
    position: relative;
    top: 0;
    align-content: center;
}

div#disablement.alert div#content {
    color: #F2F2F2;
    font-size: 2.222222222222222vh;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    text-align: center;
    width: 100%;
    height: 50%;
    position: relative;
    justify-self: center;
    white-space: pre-line;
}

div#disablement.alert div#content span#different {
    color: #B2B2B2;
    font-size: 1.11111111111vh;
}


div#disablement.alert div#redbutton {
    width: 90%;
    height: 21.25%;
    outline: solid 0.0925925925926vh #FF4040;
    color: #FF4040;
    font-family: "Quicksand", sans-serif;
    font-size: 1.66666666667vh;
    font-weight: 700;
    border-radius: calc(7.87037037037037vh / 3.4);
    position: relative;
    align-content: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    bottom: -5%;
}

div#disablement.alert div#content span#name{
    font-size: 3.33333333333vh;
}

div.freeze {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 999999999999;
}