html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-image: url("./bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

h1 {
    color: linear-gradient(to right, red, violet);
}

[type="div"],
.hover,
#objects:hover {
    background-color: gray;
    color: black;
    
}

[type="div"],
.hover,
#objects {
    background-color: black;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    width: 250px;
    height: 50px;
    align-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: hsl(hue, saturation, lightness);
}

#Hover-Test {
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    font-size: 25px;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    width: 155px;
    height: 55px;
}

.Nav {
    justify-content: center;
    display: flex;
    padding: 10px;
    padding: 10px;
}

.NavButtons {
    text-align: center;
    background-color: #1E1E1E;
    color: #Fff;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    outline: 2.5px solid #000;
    align-content: center;
}

#Triggers.NavButtons {
    margin-right: 10px;
}

#Animate.NavButtons {
    margin: 0px 10px;
}
#Settings.NavButtons {
    margin-left: 10px;
}

#container.bottombar {
    /* background-color: #1E1E1E;
    border-top: 2.5px solid #191919;
    border-left: 2.5px solid #191919;
    border-right: 2.5px solid #191919;
    border-bottom: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px; */
    width: 75%; /* 75% */
    height: 30.55555555555556%; /* 25% ; main bar: 270px, selector: 50px, total: 330px*/
    position: absolute;
    bottom: 0;
    justify-self: center;
}

#objects.bottombar {
    position: absolute;
    background-color: #1E1E1E;
    border-top: 2.5px solid #191919;
    border-left: 2.5px solid #191919;
    border-right: 2.5px solid #191919;
    border-bottom: none solid #191919;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 80.81818181818182%;
    width: 100%;
    bottom: 0;
}


#selector.bottombar {
    position: absolute;
    background-color: #1E1E1E;
    border-top: 2.5px solid #191919;
    border-left: 2.5px solid #191919;
    border-right: 2.5px solid #191919;
    border-bottom: 2.5px solid #191919;
    height: 15.15151515151515%;
    width: 100%;
    top: 0;
    border-radius: 12.5px;
    display: flex;
    z-index: 100;
}

#selector.type {
    background-color: transparent;
    color: #FFF;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: calc(height / 2.083333333333333);
    height: 100%;
    width: 12.5%;
    display: grid;
    place-items: center;
}

/*
#buttons.rightbar {
    position: absolute;
    width: 06.51041666666667%;
    height: 39.35185185185185%;
    background-color: #fff;
    top: 17.77777777777778%;
    right: 01.30208333333333%;
}
*/

/* animate */
div#sidebuttons.rightbar {
    position: absolute;
    top: 17.77777777777778vh;
    right: 01.30208333333333vw;
    height: 39.35185185185185vh;
    width: 6.510416666666667vw;
}

div#sidebuttons.rightbar div#animate-button.rightbar {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1E1E1E;
    outline: 2.5px solid #191919;
    border-radius: calc(125px / 10);
    width: 11.57407407407407vh;
    height: 11.57407407407407vh;
    font-family: "Quicksand", sans-serif;
    /* text-align: center;
    vertical-align: bottom; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 700;
    font-size: 1.25vw;
    color: #FFF;
}

div#sidebuttons.rightbar div#animate-button.rightbar img#animate-button.image {
    width: 72%;
    height: 44.8%;
    position: absolute;
    top: 15.2%;
    left: 14.2%;
}

/* objects; no clue about it yet */

div#sidebuttons.rightbar div#objects-button.rightbar {
    position: absolute;
    top: 35.29411764705882%;
    right: 0;
    background-color: #1E1E1E;
    outline: 2.5px solid #191919;
    border-radius: calc(125px / 10);
    width: 11.57407407407407vh;
    height: 11.57407407407407vh;
    font-family: "Quicksand", sans-serif;
    /* text-align: center;
    vertical-align: bottom; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 700;
    font-size: 1.25vw;
    color: #FFF;
}

div#sidebuttons.rightbar div#objects-button.rightbar img#objects-button.image {
    width: 89.112%;
    height: 74.376%;
    position: absolute;
    top: 0%;
    left: 12.5%;
}

/* audio */

div#sidebuttons.rightbar div#audio-button.rightbar {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #1E1E1E;
    outline: 2.5px solid #191919;
    border-radius: calc(125px / 10);
    width: 11.57407407407407vh;
    height: 11.57407407407407vh;
    font-family: "Quicksand", sans-serif;
    /* text-align: center;
    vertical-align: bottom; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 700;
    font-size: 1.25vw;
    color: #FFF;
}

div#sidebuttons.rightbar div#audio-button.rightbar img#audio-button.image {
    width: 83.2%;
    height: 49.6%;
    position: absolute;
    top: 12%;
    left: 7.2%;
}

/* animate UI */

div#container.animate {
    width: 56.25vw;
    height: 57.90092592592593vh;
    justify-self: center;
    align-self: anchor-center;
    z-index: 101;
    position: absolute;
    visibility: hidden;
}

div#container.animate div#animate.animate-buttons-container {
    width: 49.35185185185185%;
    height: 13.32576399660979%;
    position: absolute;
    top: 0;
    left: 0;
}

div#container.animate div#selected-objects.animate-div {
    width: 32.40740740740741%;
    height: 83.9556714054979%;
    border-radius: calc(125px / 10);
    outline: 2.5px solid #191919;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #1E1E1E;
}

div#container.animate div#timeline.animate-div {
    width: 66.04907407407407%;
    height: 84.00844354180992%;
    border-radius: calc(125px / 10);
    outline: 2.5px solid #191919;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #1E1E1E;
}

div#container.animate div#animate.animate-buttons-container div.animate-button {
    background-color: #1E1E1E;
    outline: 2.5px solid #191919;
    border-radius: calc(125px / 10);
    position: absolute;
    width: 08.68072916666667vw;
    height: 07.71574074074074vh;
    text-align: center;
    font-size: calc(32px / 83.33 * 100);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
}

div#container.animate div#animate.animate-buttons-container div#animate.animate-button {
    left: 0;
}

div#container.animate div#animate.animate-buttons-container div#triggers.animate-button {
    align-self: center;
}

div#container.animate div#animate.animate-buttons-container div#settings.animate-button {
    right: 0;
}














