html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    background-image: url("./bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: linear-gradient(to right, red, violet);
}

[type="div"],
.hover,
#objects:hover {
    background-color: gray;
    color: black;
    
}

[type="div"],
.hover,
#objects {
    background-color: black;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    width: 250px;
    height: 50px;
    align-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: hsl(hue, saturation, lightness);
}

#Hover-Test {
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    font-size: 25px;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    width: 155px;
    height: 55px;
}

.Nav {
    justify-content: center;
    display: flex;
    padding: 10px;
    padding: 10px;
}

.NavButtons {
    text-align: center;
    background-color: #1E1E1E;
    color: #Fff;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    outline: 2.5px solid #000;
    align-content: center;
}

#Triggers.NavButtons {
    margin-right: 10px;
}

#Animate.NavButtons {
    margin: 0px 10px;
}
#Settings.NavButtons {
    margin-left: 10px;
}

#container.bottombar {
    /* background-color: #1E1E1E;
    border-top: 2.5px solid #191919;
    border-left: 2.5px solid #191919;
    border-right: 2.5px solid #191919;
    border-bottom: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px; */
    width: 75%; /* 75% */
    height: 30.55555555555556%; /* 25% ; main bar: 270px, selector: 50px, total: 330px*/
    position: absolute;
    bottom: 0;
    justify-self: center;
}

#objects.bottombar {
    position: absolute;
    background-color: #1E1E1E;
    border-top: 2.5px solid #191919;
    border-left: 2.5px solid #191919;
    border-right: 2.5px solid #191919;
    border-bottom: none solid #191919;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 80.81818181818182%;
    width: 100%;
    bottom: 0;
}


#selector.bottombar {
    position: absolute;
    background-color: #1E1E1E;
    border-top: 2.5px solid #191919;
    border-left: 2.5px solid #191919;
    border-right: 2.5px solid #191919;
    border-bottom: 2.5px solid #191919;
    height: 15.15151515151515%;
    width: 100%;
    top: 0;
    border-radius: 12.5px;
    display: flex;
    z-index: 100;
}

#selector.type {
    background-color: transparent;
    color: #FFF;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: calc(height / 2.083333333333333);
    height: 100%;
    width: 12.5%;
    display: grid;
    place-items: center;
}

#buttons.rightbar {
    position: absolute;
    width: 06.51041666666667%;
    height: 39.35185185185185%;
    background-color: #fff;
    top: 17.77777777777778%;
    right: 01.30208333333333%;
}

div#animate-button.rightbar {
    background-color: #1E1E1E;
    outline-color: #191919;
    outline-width: 2%;
    border-radius: 192%;
}


















